.contact-main {
    background-color: $color-primary;
    height: 550px;
}

.contact {

    &__main {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
    }

    &__information {
        background-color: $color-primary;
        flex: 30%;

    }

    &__social-list {
        display: flex;
        margin-top: 20rem;
    }

    &__social-icon {
        margin-right: 3rem;
    }

    &__icon {
        font-size: 2.8rem;
        color: $color-quaternary;
    }
}

address {
    font-style: normal;
}

.email a {
    font-size: 3rem;
    color: $color-quaternary;
}

.email {
    margin: 3rem 0 2rem;
    
    &__link {
        font-family: $font-primary;
        letter-spacing: 2px;
    }
}

.address {
    margin-top: 2rem;

    &__detail {
        font-size: 1.8rem;
    }
}

.submission {
    flex: 70%;
    display: flex;
    position: relative;
    
    &__form {
        background-color: $color-light;
        box-shadow: -4rem 4rem $color-secondary;
        width: 80%;
        padding: 70px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 50px;
        right: -50px;
        z-index: 1;

        ::placeholder {
            color: $color-dark;
            opacity: 1;
        }
    }
    
    &__form-cell {
        display: flex;
        width: 100%;
    }
    
    input[type=text],
    input[type=email] {
        flex: 1 50%;
        font-size: 1.8rem;
        border: none;
        border-bottom: 2.5px solid $color-secondary;
        margin-bottom: 5rem;
        padding: 25px 0 15px 30px;
    }

    input[type=text] {
        margin-right: 1.5rem;
    }

    input[type=email] {
        margin-left: 1.5rem;
    }

    &__form-bottom {
        border: 2.5px solid $color-secondary;
    }
    
    &__input-message {
        width: 100%;
        font-size: 2rem;
        border: none;
        height: 200px;
        resize: none;
        padding: 30px 0 0 30px;
    }

    &__button {
        font-weight: bold;
        margin-top: 5rem;
        height: 6rem;
        background-color: $color-tertiary;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    button {
        cursor: pointer;
    }
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
    white-space: nowrap;
}

// FORM BLOG PAGE 

.comment-form {
    background-color: $color-primary;
    
    .submission {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &__form-comment {
            width: 60%;
            margin-bottom: 10rem;

            ::placeholder {
                color: $color-dark;
                opacity: 1;
            }
        }

        &__input,
        &__input-message {
            background-color: $color-primary;
        }

        &__button,
        &__submit {
            background-color: $color-quaternary;
        }
    }
}