// HOME PAGE

.footer {

    &__copyright {
        background-color: $color-tertiary;
    }

    &__text {
        text-align: center;
        color: $color-light;
    }

    &__copyright-link {
        font-weight: 300;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
    }
    
    &__copyright-link:hover {
        color: $color-secondary;
        transform: scale(1.2);

        @include respond-768 {
            color: $color-light     ;
            transform: scale(1);
        }
    }
}

A.footer__copyright-link {
    text-transform: capitalize;

}
