// SKIP LINK
a.skip-link {
    font-size: 1.2rem;
    position: absolute;
    left: -1000px;
    top: 0;
    z-index: 999;
    background-color: $color-quaternary;
    padding: 10px;
    color: $color-secondary;

    &:focus {
        left: 0;
    }
}

// HERO SECTION HOME PAGE

.header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
    height: 45vw;
    position: relative;

    &__nav-box {
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
    }

    &__logo-box {
        padding-top: 15px;
    }

    &__navigation {
        display: flex;
    }

    &__wrapping {
        margin-left: 10%;
        width: 90%;
        margin-top: 5%;
        position: relative;
        display: flex;
    }

    &__image-box {
        position: absolute;
        top: -10rem;
        right: 0;
        width: 50%;
    }
    
    &__image {
        width: 100%;
    }

}

.header-nav {
    
    &__list {
        display: flex;
        justify-content: flex-end;
        transition: all .35s ease;
    }

    &__item {
        display: inline-block;
        list-style: outside none none;
        margin: 0.5em 1.5em;
        padding: 0;
    }
    
    &__link {
        margin-left: 7rem;
        color: $color-dark !important;
        padding: 0.3em 0;
        position: relative;
        display: inline-block;

        &::before,
        &::after {
            height: 3px;
            position: absolute;
            content: '';
            transition: all 0.35s ease;
            background-color: $color-secondary;
            width: 0;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        &:hover::before,
        &:hover::after {
            width: 100%;
        }
        
        
        &--active {
            padding: 5px 15px;
            background-color: $color-quaternary;
        }
    }

    &__link--active {
        margin-left: 7rem;
    }
}

a.link-white {
    color: $color-light;
}



// HERO SECTION CONTACT PAGE

.header-contact {
    background-image: url(../assets/contact-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 70vh;
    min-height: 400px;
    
    &__text-box {
        display: flex;
        justify-content: center;
        margin-top: 15rem
    }
}

// HERO SECTION BLOG PAGE 

.header-blog {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    position: relative;
    
    &__text-box {
        display: flex;
        margin-top: 12rem;
        margin-left: 40%;
    }
}
