// SKIP LINK
a.skip-link {
    font-size: 1.2rem;
    position: absolute;
    left: -1000px;
    top: 0;
    z-index: 999;
    background-color: $color-quaternary;
    padding: 10px;
    color: $color-secondary;

    &:focus {
        left: 0;
    }
}

// HERO SECTION HOME PAGE

.header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
    height: 45vw;
    position: relative;

    @include respond-1100 {
        height: 55vw;
    }

    @include respond-768 {
        background-position: left;
        height: 90vw;
    }

    @include respond-480 {
        height: 100vw;
    }

    @include respond-400 {
        height: 100vh;
    }

    &__nav-box {
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
    }

    &__logo-box {
        padding-top: 15px;
    }

    &__navigation {
        display: flex;
    }

    &__wrapping {
        margin-left: 10%;
        width: 90%;
        margin-top: 5%;
        position: relative;
        display: flex;

        @include respond-768 {
            margin-left: 5%;
        }
    }

    &__image-box {
        width: 55%;
        position: absolute;
        top: -10rem;
        right: 0;

        @include respond-1100 {
            width: 50%;
            top: -7rem;
        }

        @include respond-1100 {
            width: 50%;
            top: -2rem;
        }

        @include respond-950 {
            top: -3rem;
        }

         @include respond-768 {
            display: none;
        }
    }
    
    &__image {
        width: 100%;
    }

    .heading-two {
        
        @include respond-1280 {
            font-size: 9rem;
            line-height: 6rem;
        }

        @include respond-1100 {
            color: $color-light;
        }

        @include respond-768 {
            padding-top: 50px;
            color: $color-quaternary;
        }

        @include respond-590 {
            font-size: 8rem;
            line-height: 5rem;
            padding-top: 30px;
        }

        @include respond-480 {
            font-size: 7rem;
        }

        @include respond-400 {
            font-size: 5rem;
            line-height: 40px;
            // display: none;
            // text-align: center;
        }


    }

}

.header-nav {
    
    &__list {
        padding-top: 6px;
        display: flex;
        justify-content: flex-end;
        transition: all .35s ease;

        @include respond-768 {
            display: none;
        }
    }

    &__item {
        list-style: outside none none;
        padding: 0;
    }
    
    &__link {
        margin-left: 7rem;
        color: $color-dark !important;
        text-shadow: 0 1px $color-light;
        padding: 0.3em 0;
        position: relative;

        @include respond-1280 {
            margin-left: 5rem;
        }

        @include respond-1100 {
            margin-left: 4rem;
        }

        @include respond-950 {
            margin-left: 3rem;
        }
        

        &::before,
        &::after {
            height: 3px;
            position: absolute;
            content: '';
            transition: all 0.35s ease;
            background-color: $color-secondary;
            width: 0;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        &:hover::before,
        &:hover::after {
            width: 100%;
        }
        
        
        &--active {
            padding: 5px 15px;
            background-color: $color-quaternary;
        }
    }

    &__link--active {
        margin-left: 7rem;
    }
}

a.link-white {
    color: $color-light;
}



// HERO SECTION CONTACT PAGE

.header-contact {
    background-image: url(../assets/contact-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 70vh;
    min-height: 400px;
    
    &__text-box {
        display: flex;
        justify-content: center;
        margin-top: 15rem
    }
}

// HERO SECTION BLOG PAGE 

.header-blog {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    position: relative;
    
    &__text-box {
        display: flex;
        margin-top: 12rem;
        margin-left: 40%;
    }
}
