// SECTION ABOUT

.about {
    background-color: $color-primary;
    display: flex;
    align-items: center;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16% 0;

        @include respond-1280 {
            padding: 14% 0;
        }

        @include respond-1100 {
            padding: 11% 0;
        }

        @include respond-950 {
            padding: 13% 0;
        }

        @include respond-768 {
            padding: 10% 0;
        }
    }

    h3.heading-three {
        @include respond-768 {
            font-size: 5rem;
        }

        @include respond-590 {
            font-size: 4rem;
        }

        @include respond-480 {
            font-size: 3.2rem;
        }

        @include respond-400 {
            font-size: 2.5rem;
        }
    }

    .paragraph {
        width: 80%;
        text-align: center;
        margin: 2rem 0 4rem 0;

            @include respond-1100 {
                margin: 1rem 0 3rem 0;
            }

            @include respond-950 {
                width: 100%;
                text-align: left;
            }

            @include respond-480 {
                text-align: center;
            }
    }
}

// SECTION COLLECTION

.collection {
    display: block;

    .row-top,
    .row-bottom {
        display: flex;

        @include respond-768 {
            flex-direction: column;
        }

        &__image-container {
            flex: 1 45%;
            position: relative;
            z-index: 1;

             @include respond-768 {
                flex: 100%;
            }
        }
    
        &__container {
            flex: 1 55%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond-768 {
                flex: 100%;
            }
        }
        
        &__text-container {
            display: flex;
            flex-direction: column;
            width: 63%;
            margin: 10% 0;

            @include respond-768 {
                width: 90%;
            }

            @include respond-480 {
                text-align: center;
                align-items: center;
                margin: 15% 0;
            }
        }
        
        .paragraph {
            margin: 18px 0 25px;
        }

        &__img {
            display: block;
            height: 100%;  
            object-fit: cover;
            
            @include respond-768 {
                width: 100%;
                height: 100%;
                border-bottom: 3rem solid $color-secondary;
            }

            @include respond-480 {
                border-bottom: 2rem solid $color-secondary;
            }
        }
    }
}

.row-top {

    &__image-container {
        order: -1;
        top: -40px;
        box-shadow: 4rem 4rem $color-secondary;

        @include respond-950 {
            box-shadow: 3rem 3rem $color-secondary;
        }

        @include respond-768 {
            box-shadow: none;
            top: 0;
        }
    }

    &__text-container {
        align-items: flex-start;
    }
}

.row-bottom {

    &__image-container {
        bottom: -30px;
        box-shadow: -4rem 4rem $color-secondary;

        @include respond-950 {
            box-shadow: -3rem 3rem $color-secondary;
        }

        @include respond-768 {
            order: -1;
            box-shadow: none;
            bottom: 0;
        }
    }

    &__text-container {
        align-items: flex-end;
        text-align: right;

        @include respond-768 {
            align-items: flex-start;
            text-align: left;
        }
    }
}

// SECTION INFORMATION

.information {
    background-color: $color-primary;

    .info {
        padding: 18rem 0 8rem;
        display: flex;
        flex-wrap: wrap;

            @include respond-950 {
                display: block;
                padding: 12rem 0 5rem;
            }

            @include respond-768 {
                padding: 8rem 0 2rem;
            }
        
        &__text-container {
            display: flex;
            flex: 1 1 48%;
            margin-bottom: 6rem;

            @include respond-480 {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }


        &__text-container:nth-child(odd) {
            margin-right: 4%;

            @include respond-768 {
                margin-right: 0;
            }
        }

        &__icon {
            font-size: 2.6rem;
            color: $color-light;
            background-color: $color-quaternary;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 30px;
            margin-right: 2rem;

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 7px;

            @include respond-1680 {
                font-size: 3.6rem;
                padding: 40px;
            }

            @include respond-480 {
                margin-bottom: 2rem;
            }
        }

        .paragraph {
            @include respond-480 {
                margin: 1rem 0;
            }
        }
    }
}

// SECTION BANNER 
.banner {
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
    background-attachment: fixed;
    height: 60vh;
    position: relative;

    @include respond-1100 {
        background-attachment: scroll;
        height: 50vh;
    }

    @include respond-768 {
        height: 40vh;
    }

    @include respond-590 {
        height: 35vh;
    }

    @include respond-480 {
        height: 32vh;
    }

    @include respond-400 {
        height: 24vh;
    }
}

// SECTION FASHION

.fashion {
    display: flex;
    align-items: center;
    padding: 120px 0 80px 0;

    @include respond-950 {
        display: block;
        padding: 80px 0;
    }

    &__image-container {
        flex: 1 30%;
        position: relative;
        z-index: 1;
        border-bottom: 4rem solid rgba(0, 0, 0, 0);
        border-right: 4rem solid rgba(0, 0, 0, 0);
        margin-right: 5rem;

        @include respond-1680 {
            flex: 1 40%;
        }

        @include respond-1280 {
            flex: 1 40%;
        }

        @include respond-1100 {
            flex: 1 50%;
        }

        @include respond-950 {
            margin-right: 0;
        }

        @include respond-480 {
            border-bottom: 2rem solid ;
        }

        @include respond-480 {
            border-bottom: none;
            border-right: none;
            margin-right: 2rem;
        }
    
    }

    &__img {
        width: 100%;
        box-shadow: 4rem 4rem $color-secondary;

        @include respond-950 {
            width: 70%;
            margin: 0 auto;
            box-shadow: 3rem 3rem $color-secondary;
        }

        @include respond-590 {
            width: 100%;
        }

        @include respond-480 {
            box-shadow: 2rem 2rem $color-secondary;
        }
    }

    &__text-container {
        flex: 1 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @include respond-1280 {
            flex: 1 60%;
        }

        @include respond-1100 {
            flex: 1 50%;
        }

        @include respond-950 {
            align-items: center;
            padding-top: 60px;;
        }

        @include respond-400 {
            text-align: center;
        }
    }

    .paragraph {
        padding: 15px 0 25px;
    }
}

// SECTION GALLERY

.album {
    background-color: $color-primary;
    
    .gallery {
        padding: 100px 0;
        display: flex;
        justify-content: space-around;

        @include respond-1680 {
            justify-content: space-between;
        }

        @include respond-590 {
            flex-direction: column;
        }

        &__image-container {
            width: calc(100% / 3);

            @include respond-590 {
                width: 100%;
            }
        }
    
        &__image-container:not(:last-of-type) {
            margin-right: 4rem;

            @include respond-590 {
                margin-right: 0;
                margin-bottom: 5rem;
            }
        }
        
        &__img {
            box-shadow: .4rem .4rem .4rem (lighten($color: $color-dark, $amount: 30%));
            filter: brightness(100%);
            transform: scale(1);
            transition: all 0.5s;
            width: 100%;
            
            @include respond-590 {
                width: 100%;
                border: 1rem solid $color-secondary;
            }

    
            &:hover {
                filter: brightness(130%);
                transform: scale(1.1);

                @include respond-768 {
                    filter: brightness(100%);
                    transform: scale(1);
                }
            }
        }
    }

}




