// SECTION ABOUT

.about {
    height: 95vh;
    background-color: $color-primary;
    display: flex;
    align-items: center;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paragraph {
        width: 80%;
        text-align: center;
        margin: 4rem 0;
    }
}

// SECTION COLLECTION

.collection {
    height: 700px;
    display: flex;
}

.col-left {
    display: flex;
    flex-direction: column;

    &__image-container {
        
    }
}

.col-right {
    display: flex;
    flex-direction: column;
}