.heading-one,
.heading-two,
.heading-three,
.heading-four,
.heading-five,
.heading-six {
    font-family: $font-primary;
    font-weight: 300;
}

.heading-one {
    font-size: 3.5rem;
    line-height: 36px;

    &--span {
        display: block;
    }

    @include respond-768 {
        font-size: 5rem;
        line-height: 50px;
    }
}

.heading-two {
  font-size: 11rem;
  color: $color-quaternary;
  line-height: 7rem;

    &--span {
    display: block;

    }
}

.heading-three {
  font-size: 6.4rem;
  color: $color-quaternary;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 7rem;

  @include respond-1280 {
      font-size: 5.8rem;
  }

  @include respond-1100 {
      font-size: 5rem;
  }
}

.heading-four,
.heading-five {
  font-size: 4.8rem;
  text-transform: uppercase;

  @include respond-1280 {
      font-size: 4.4rem;
  }
}

.heading-four {
    $color-dark: #0D0D0D;
}

.heading-five,
.heading-six {
    color: $color-quaternary;
}

.heading-six {
    font-size: 3.2rem;
    text-transform: uppercase;
}

.btn {
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: lighter;
    letter-spacing: 2px;
    border: none;
    padding: 10px 15px;
    background-color: $color-tertiary;
    color: $color-light;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    background: $color-quaternary;
    letter-spacing: 3px;

    @include respond-768 {
        background-color: $color-tertiary;
        letter-spacing: 2px;
        box-shadow: none;
    }
}


.btn-large,
.btn-xlarge {
    background-color: $color-quaternary;
    padding: 12px 17px;
}

.btn-large:hover,
.btn-xlarge:hover {
    background: $color-secondary !important;
    letter-spacing: 3px;

    @include respond-768 {
        background-color: $color-quaternary !important;
        letter-spacing: 2px;
    }
}

