.heading-one,
.heading-two,
.heading-three,
.heading-four,
.heading-five,
.heading-six {
    font-family: $font-primary;
    font-weight: 300;
}

.heading-one {
    font-size: 3.5rem;
    line-height: 36px;

    &--span {
        display: block;
    }
}

.heading-two {
  font-size: 11rem;
  color: $color-quaternary;
  line-height: 6.4rem;

  &--span {
      display: block;
  }
}

.heading-three {
  font-size: 7rem;
  color: $color-quaternary;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 7rem;
}

.heading-four,
.heading-five {
  font-size: 5.2rem;
  text-transform: uppercase;
}

.heading-four {
    $color-dark: #0D0D0D;
}

.heading-five,
.heading-six {
    color: $color-quaternary;
}

.heading-six {
    font-size: 3.2rem;
    text-transform: uppercase;
}

.btn {
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: lighter;
    letter-spacing: 2px;
    border: none;
    padding: 10px 15px;
    background-color: $color-tertiary;
    color: $color-light;
}

.btn-large {
    background-color: $color-quaternary;
}
