html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  font-family: "Pompiere", cursive;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pompiere", cursive;
  margin: 0;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 11rem;
}

h3 {
  font-size: 8rem;
}

h4, h5, h6 {
  font-size: 5.2rem;
}

p {
  font-size: 2rem;
  line-height: 3.5rem;
}

p,
a,
textarea,
input {
  font-family: "Lato", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.9rem;
  letter-spacing: 1;
  text-transform: uppercase;
  color: #FFF;
}

@media (max-width: 950px) {
  a:link,
  a:visited {
    font-size: 1.8rem;
  }
}

ul,
li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}

.heading-one,
.heading-two,
.heading-three,
.heading-four,
.heading-five,
.heading-six {
  font-family: "Pompiere", cursive;
  font-weight: 300;
}

.heading-one {
  font-size: 3.5rem;
  line-height: 36px;
}

.heading-one--span {
  display: block;
}

@media (max-width: 768px) {
  .heading-one {
    font-size: 5rem;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .heading-one {
    font-size: 4rem;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .heading-one {
    font-size: 10rem;
    line-height: 100px;
  }
}

.heading-two {
  font-size: 11rem;
  color: #4C0341;
  line-height: 7rem;
}

.heading-two--span {
  display: block;
}

.heading-three {
  font-size: 6.4rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 7rem;
}

@media (max-width: 1280px) {
  .heading-three {
    font-size: 5.8rem;
  }
}

@media (max-width: 1100px) {
  .heading-three {
    font-size: 5rem;
  }
}

@media (max-width: 590px) {
  .heading-three {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .heading-three {
    font-size: 3.7rem;
  }
}

@media (max-width: 480px) {
  .heading-three {
    font-size: 2.9rem;
  }
}

@media (max-width: 320px) {
  .heading-three {
    font-size: 2.5rem;
  }
}

.heading-four,
.heading-five {
  font-size: 4.8rem;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .heading-four,
  .heading-five {
    font-size: 4.4rem;
  }
}

@media (max-width: 480px) {
  .heading-four {
    font-size: 3.8rem;
  }
}

@media (max-width: 320px) {
  .heading-four {
    font-size: 3.3rem;
  }
}

.heading-five,
.heading-six {
  color: #4C0341;
}

@media (max-width: 590px) {
  h5.heading-five {
    font-size: 4rem;
  }
}

.heading-six {
  font-size: 3.2rem;
  text-transform: uppercase;
}

@media (max-width: 590px) {
  .paragraph {
    font-size: 1.8rem;
  }
}

@media (max-width: 320px) {
  .paragraph {
    font-size: 1.6rem;
  }
}

.btn {
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: lighter;
  letter-spacing: 2px;
  border: none;
  padding: 10px 15px;
  background-color: #882C07;
  color: #FFF;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn:hover {
  background: #4C0341;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .btn:hover {
    background-color: #882C07;
    letter-spacing: 2px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.btn-large,
.btn-xlarge {
  background-color: #4C0341;
  padding: 12px 17px;
}

.btn-large:hover,
.btn-xlarge:hover {
  background: #FE6F19 !important;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .btn-large:hover,
  .btn-xlarge:hover {
    background-color: #4C0341 !important;
    letter-spacing: 2px;
  }
}

.about {
  background-color: #FAE5FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16% 0;
}

@media (max-width: 1280px) {
  .about__text-container {
    padding: 14% 0;
  }
}

@media (max-width: 1100px) {
  .about__text-container {
    padding: 9% 0;
  }
}

@media (max-width: 768px) {
  .about__text-container {
    padding: 10% 0;
  }
}

.about .paragraph {
  width: 80%;
  text-align: center;
  margin: 2rem 0 4rem 0;
}

@media (max-width: 1100px) {
  .about .paragraph {
    margin: 1rem 0 3rem 0;
  }
}

@media (max-width: 950px) {
  .about .paragraph {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .about .paragraph {
    text-align: center;
  }
}

.collection {
  display: block;
}

.collection .row-top,
.collection .row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .collection .row-top,
  .collection .row-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.collection .row-top__image-container,
.collection .row-bottom__image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 45%;
          flex: 1 45%;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .collection .row-top__image-container,
  .collection .row-bottom__image-container {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.collection .row-top__container,
.collection .row-bottom__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 55%;
          flex: 1 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .collection .row-top__container,
  .collection .row-bottom__container {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.collection .row-top__text-container,
.collection .row-bottom__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 63%;
  margin: 10% 0;
}

@media (max-width: 768px) {
  .collection .row-top__text-container,
  .collection .row-bottom__text-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .collection .row-top__text-container,
  .collection .row-bottom__text-container {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15% 0;
  }
}

.collection .row-top .paragraph,
.collection .row-bottom .paragraph {
  margin: 18px 0 25px;
}

.collection .row-top__img,
.collection .row-bottom__img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .collection .row-top__img,
  .collection .row-bottom__img {
    width: 100%;
    height: 100%;
    border-bottom: 3rem solid #FE6F19;
  }
}

@media (max-width: 480px) {
  .collection .row-top__img,
  .collection .row-bottom__img {
    border-bottom: 2rem solid #FE6F19;
  }
}

.row-top__image-container {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  top: -40px;
  -webkit-box-shadow: 4rem 4rem #FE6F19;
          box-shadow: 4rem 4rem #FE6F19;
}

@media (max-width: 950px) {
  .row-top__image-container {
    -webkit-box-shadow: 3rem 3rem #FE6F19;
            box-shadow: 3rem 3rem #FE6F19;
  }
}

@media (max-width: 768px) {
  .row-top__image-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
  }
}

.row-top__text-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-bottom__image-container {
  bottom: -30px;
  -webkit-box-shadow: -4rem 4rem #FE6F19;
          box-shadow: -4rem 4rem #FE6F19;
}

@media (max-width: 950px) {
  .row-bottom__image-container {
    -webkit-box-shadow: -3rem 3rem #FE6F19;
            box-shadow: -3rem 3rem #FE6F19;
  }
}

@media (max-width: 768px) {
  .row-bottom__image-container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-shadow: none;
            box-shadow: none;
    bottom: 0;
  }
}

.row-bottom__text-container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

@media (max-width: 768px) {
  .row-bottom__text-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.information {
  background-color: #FAE5FF;
}

.information .info {
  padding: 18rem 0 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 950px) {
  .information .info {
    display: block;
    padding: 12rem 0 5rem;
  }
}

@media (max-width: 768px) {
  .information .info {
    padding: 8rem 0 2rem;
  }
}

.information .info__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  margin-bottom: 6rem;
}

@media (max-width: 480px) {
  .information .info__text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.information .info__text-container:nth-child(odd) {
  margin-right: 4%;
}

@media (max-width: 768px) {
  .information .info__text-container:nth-child(odd) {
    margin-right: 0;
  }
}

.information .info__icon {
  font-size: 2.6rem;
  color: #FFF;
  background-color: #4C0341;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 30px;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 7px;
}

@media (max-width: 480px) {
  .information .info__icon {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .information .info .paragraph {
    margin: 1rem 0;
  }
}

@media (max-width: 480px) {
  .banner {
    display: none;
  }
}

.fashion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 80px 0;
}

@media (max-width: 950px) {
  .fashion {
    display: block;
    padding: 80px 0;
  }
}

.fashion__image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 30%;
          flex: 1 30%;
  position: relative;
  z-index: 1;
  border-bottom: 4rem solid rgba(0, 0, 0, 0);
  border-right: 4rem solid rgba(0, 0, 0, 0);
  margin-right: 5rem;
}

@media (max-width: 1280px) {
  .fashion__image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 40%;
            flex: 1 40%;
  }
}

@media (max-width: 1100px) {
  .fashion__image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}

@media (max-width: 950px) {
  .fashion__image-container {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .fashion__image-container {
    border-bottom: 2rem solid;
  }
}

@media (max-width: 480px) {
  .fashion__image-container {
    border-bottom: none;
    border-right: none;
    margin-right: 2rem;
  }
}

.fashion__img {
  width: 100%;
  -webkit-box-shadow: 4rem 4rem #FE6F19;
          box-shadow: 4rem 4rem #FE6F19;
}

@media (max-width: 950px) {
  .fashion__img {
    width: 70%;
    margin: 0 auto;
    -webkit-box-shadow: 3rem 3rem #FE6F19;
            box-shadow: 3rem 3rem #FE6F19;
  }
}

@media (max-width: 590px) {
  .fashion__img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .fashion__img {
    -webkit-box-shadow: 2rem 2rem #FE6F19;
            box-shadow: 2rem 2rem #FE6F19;
  }
}

.fashion__text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 70%;
          flex: 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1280px) {
  .fashion__text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 60%;
            flex: 1 60%;
  }
}

@media (max-width: 1100px) {
  .fashion__text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}

@media (max-width: 950px) {
  .fashion__text-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
  }
}

@media (max-width: 480px) {
  .fashion__text-container {
    text-align: center;
  }
}

.fashion .paragraph {
  padding: 15px 0 25px;
}

.album {
  background-color: #FAE5FF;
}

.album .gallery {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 590px) {
  .album .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.album .gallery__image-container:not(:last-of-type) {
  margin-right: 4rem;
}

@media (max-width: 590px) {
  .album .gallery__image-container:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}

.album .gallery__img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 590px) {
  .album .gallery__img {
    width: 100%;
    border: 1rem solid #FE6F19;
  }
}

.album .gallery__img:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  .album .gallery__img:hover {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

a.skip-link {
  font-size: 1.2rem;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
  background-color: #4C0341;
  padding: 10px;
  color: #FE6F19;
}

a.skip-link:focus {
  left: 0;
}

.header {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 80%;
  height: 45vw;
  position: relative;
}

@media (max-width: 1100px) {
  .header {
    height: 55vw;
  }
}

@media (max-width: 768px) {
  .header {
    background-position: left;
    height: 90vw;
  }
}

@media (max-width: 480px) {
  .header {
    height: 100vw;
  }
}

@media (max-width: 480px) {
  .header {
    height: 100vh;
  }
}

.header__nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-box {
  padding-top: 15px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrapping {
  margin-left: 10%;
  width: 90%;
  margin-top: 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .header__wrapping {
    margin-left: 5%;
  }
}

.header__image-box {
  width: 55%;
  position: absolute;
  top: -10rem;
  right: 0;
}

@media (max-width: 1100px) {
  .header__image-box {
    width: 50%;
    top: -7rem;
  }
}

@media (max-width: 1100px) {
  .header__image-box {
    width: 50%;
    top: -2rem;
  }
}

@media (max-width: 950px) {
  .header__image-box {
    top: -3rem;
  }
}

@media (max-width: 768px) {
  .header__image-box {
    display: none;
  }
}

.header__image {
  width: 100%;
}

@media (max-width: 1280px) {
  .header .heading-two {
    font-size: 9rem;
    line-height: 6rem;
  }
}

@media (max-width: 1100px) {
  .header .heading-two {
    color: #FFF;
  }
}

@media (max-width: 768px) {
  .header .heading-two {
    padding-top: 50px;
    color: #4C0341;
  }
}

@media (max-width: 590px) {
  .header .heading-two {
    font-size: 8rem;
    line-height: 5rem;
    padding-top: 30px;
  }
}

@media (max-width: 480px) {
  .header .heading-two {
    font-size: 7rem;
  }
}

@media (max-width: 480px) {
  .header .heading-two {
    font-size: 5rem;
    line-height: 40px;
  }
}

.header-nav__list {
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

@media (max-width: 768px) {
  .header-nav__list {
    display: none;
  }
}

.header-nav__item {
  list-style: outside none none;
  padding: 0;
}

.header-nav__link {
  margin-left: 7rem;
  color: #0D0D0D !important;
  text-shadow: 0 1px #FFF;
  padding: 0.3em 0;
  position: relative;
}

@media (max-width: 1280px) {
  .header-nav__link {
    margin-left: 5rem;
  }
}

@media (max-width: 1100px) {
  .header-nav__link {
    margin-left: 4rem;
  }
}

@media (max-width: 950px) {
  .header-nav__link {
    margin-left: 3rem;
  }
}

.header-nav__link::before, .header-nav__link::after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #FE6F19;
  width: 0;
}

.header-nav__link::before {
  top: 0;
  left: 0;
}

.header-nav__link::after {
  bottom: 0;
  right: 0;
}

.header-nav__link:hover::before, .header-nav__link:hover::after {
  width: 100%;
}

.header-nav__link--active {
  padding: 5px 15px;
  background-color: #4C0341;
}

.header-nav__link--active {
  margin-left: 7rem;
}

a.link-white {
  color: #FFF;
}

.header-contact {
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 70vh;
  min-height: 400px;
}

.header-contact__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15rem;
}

.header-blog {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  position: relative;
}

.header-blog__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12rem;
  margin-left: 40%;
}

.blog {
  background-color: #FAE5FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.aside {
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  margin-right: 6.5rem;
  position: relative;
}

.aside__image-container {
  width: 100%;
  position: relative;
  left: 0;
  z-index: 10;
}

.aside__image-container::before {
  content: '';
  display: block;
  border-right: 2rem solid #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  right: -2rem;
  margin-top: 2rem;
}

.aside__text-container {
  background-color: #FFF;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  left: 2rem;
  margin-left: 1rem;
  padding-top: 50px;
  z-index: 1;
}

.aside__text {
  margin: 20px;
}

.aside .paragraph {
  padding: 10px 0 20px;
}

.aside__list {
  padding: 15px 0;
}

.aside__item {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  list-style: disc inside;
  padding: 5px 0 5px 5px;
}

.article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  background-color: #FFF;
}

.article__image-box {
  width: calc(100% - 4rem);
  -webkit-box-shadow: -4rem 4rem #FE6F19;
          box-shadow: -4rem 4rem #FE6F19;
  position: relative;
  top: -210px;
  left: 4rem;
}

.article__content {
  margin-top: -90px;
  padding: 0 15% 0 10%;
}

.article .paragraph {
  margin: 4rem 0;
}

.date-paragraph {
  font-weight: bold;
  margin-bottom: 2rem;
}

.comments {
  background-color: #FAE5FF;
}

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comments__sub-container {
  width: 58%;
}

.comments__title {
  margin: 4rem 0 4rem 2rem;
}

.comments__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
}

.comments__image {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  margin: 1rem 3rem 0 0;
}

.comments__text {
  padding: 0 16% 0 0;
}

.comment-form {
  background-color: #FAE5FF;
}

.comment-form .submission {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment-form .submission__form-comment {
  width: 60%;
  margin-bottom: 10rem;
}

.comment-form .submission__form-comment ::-webkit-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.comment-form .submission__form-comment :-ms-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.comment-form .submission__form-comment ::-ms-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.comment-form .submission__form-comment ::placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.comment-form .submission__input, .comment-form .submission__input-message {
  background-color: #FAE5FF;
}

.comment-form .submission__button, .comment-form .submission__submit {
  background-color: #4C0341;
}

.contact-main {
  background-color: #FAE5FF;
  height: 550px;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact__information {
  background-color: #FAE5FF;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.contact__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20rem;
}

.contact__social-icon {
  margin-right: 3rem;
}

.contact__icon {
  font-size: 2.8rem;
  color: #4C0341;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contact__icon:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #FE6F19;
}

address {
  font-style: normal;
}

.email a {
  font-size: 3rem;
  color: #4C0341;
}

.email {
  margin: 3rem 0 2rem;
}

.email__link {
  font-family: "Pompiere", cursive;
  letter-spacing: 2px;
}

.address {
  margin-top: 2rem;
}

.address__detail {
  font-size: 1.8rem;
}

.submission {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.submission__form {
  background-color: #FFF;
  -webkit-box-shadow: -4rem 4rem #FE6F19;
          box-shadow: -4rem 4rem #FE6F19;
  width: 80%;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: -50px;
  z-index: 1;
}

.submission__form ::-webkit-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.submission__form :-ms-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.submission__form ::-ms-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.submission__form ::placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.submission__form-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.submission input[type=text],
.submission input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  font-size: 1.8rem;
  border: none;
  border-bottom: 2.5px solid #FE6F19;
  margin-bottom: 5rem;
  padding: 25px 0 15px 30px;
}

.submission input[type=text] {
  margin-right: 1.5rem;
}

.submission input[type=email] {
  margin-left: 1.5rem;
}

.submission__form-bottom {
  border: 2.5px solid #FE6F19;
}

.submission__input-message {
  width: 100%;
  font-size: 2rem;
  border: none;
  height: 200px;
  resize: none;
  padding: 30px 0 0 30px;
}

.submission__submit {
  font-weight: bold;
  width: 100%;
  margin-top: 5rem;
  height: 6rem;
  background-color: #882C07;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submission button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.footer__copyright {
  background-color: #882C07;
}

.footer__text {
  text-align: center;
  color: #FFF;
}

.footer__copyright-link {
  font-weight: 300;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__copyright-link:hover {
  color: #FE6F19;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 768px) {
  .footer__copyright-link:hover {
    color: #FFF;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

A.footer__copyright-link {
  text-transform: capitalize;
  font-weight: 300;
}
