* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  font-family: "Pompiere", cursive;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pompiere", cursive;
  margin: 0;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 11rem;
}

h3 {
  font-size: 8rem;
}

h4, h5, h6 {
  font-size: 5.2rem;
}

p {
  font-size: 2rem;
  line-height: 3.5rem;
}

p,
a,
textarea,
input {
  font-family: "Lato", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.9rem;
  letter-spacing: 1;
  text-transform: uppercase;
  color: #FFF;
}

ul,
li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.heading-one,
.heading-two,
.heading-three,
.heading-four,
.heading-five,
.heading-six {
  font-family: "Pompiere", cursive;
  font-weight: 300;
}

.heading-one {
  font-size: 3.5rem;
  line-height: 36px;
}

.heading-one--span {
  display: block;
}

.heading-two {
  font-size: 11rem;
  color: #4C0341;
  line-height: 6.4rem;
}

.heading-two--span {
  display: block;
}

.heading-three {
  font-size: 7rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 7rem;
}

.heading-four,
.heading-five {
  font-size: 5.2rem;
  text-transform: uppercase;
}

.heading-five,
.heading-six {
  color: #4C0341;
}

.heading-six {
  font-size: 3.2rem;
  text-transform: uppercase;
}

.btn {
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: lighter;
  letter-spacing: 2px;
  border: none;
  padding: 10px 15px;
  background-color: #882C07;
  color: #FFF;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn:hover {
  background: #4C0341;
  letter-spacing: 3px;
  -webkit-box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
          box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.btn-large {
  background-color: #4C0341;
  padding: 12px 17px;
}

.btn-large:hover {
  background: #FE6F19;
  letter-spacing: 3px;
}

a.skip-link {
  font-size: 1.2rem;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
  background-color: #4C0341;
  padding: 10px;
  color: #FE6F19;
}

a.skip-link:focus {
  left: 0;
}

.header {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 80%;
  height: 45vw;
  position: relative;
}

.header__nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-box {
  padding-top: 15px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrapping {
  margin-left: 10%;
  width: 90%;
  margin-top: 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__image-box {
  position: absolute;
  top: -10rem;
  right: 0;
  width: 50%;
}

.header__image {
  width: 100%;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.header-nav__item {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}

.header-nav__link {
  margin-left: 7rem;
  color: #0D0D0D !important;
  padding: 0.3em 0;
  position: relative;
  display: inline-block;
}

.header-nav__link::before, .header-nav__link::after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #FE6F19;
  width: 0;
}

.header-nav__link::before {
  top: 0;
  left: 0;
}

.header-nav__link::after {
  bottom: 0;
  right: 0;
}

.header-nav__link:hover::before, .header-nav__link:hover::after {
  width: 100%;
}

.header-nav__link--active {
  padding: 5px 15px;
  background-color: #4C0341;
}

.header-nav__link--active {
  margin-left: 7rem;
}

a.link-white {
  color: #FFF;
}

.header-contact {
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 70vh;
  min-height: 400px;
}

.header-contact__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15rem;
}

.header-blog {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  position: relative;
}

.header-blog__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12rem;
  margin-left: 40%;
}

.about {
  background-color: #FAE5FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12% 0;
}

.about .paragraph {
  width: 80%;
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collection .col-left,
.collection .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.collection .col-left__image-container,
.collection .col-right__image-container {
  width: 86%;
  position: relative;
}

.collection .col-left__text-container,
.collection .col-right__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 70px 0 50px 0;
}

.collection .col-left .paragraph,
.collection .col-right .paragraph {
  margin-bottom: 2.5rem;
}

.col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.col-left__image-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: -5.5rem;
}

.col-left__img {
  -webkit-box-shadow: 4rem 4rem #FE6F19;
          box-shadow: 4rem 4rem #FE6F19;
}

.col-left__text-container {
  width: 70%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.col-right__image-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  bottom: -5.5rem;
}

.col-right__img {
  -webkit-box-shadow: -4rem 4rem #FE6F19;
          box-shadow: -4rem 4rem #FE6F19;
}

.col-right__text-container {
  width: 72%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.information {
  background-color: #FAE5FF;
}

.information .info {
  padding: 180px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.information .info__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-bottom: 6rem;
}

.information .info__icon {
  font-size: 2.6rem;
  color: #FFF;
  background-color: #4C0341;
  border-radius: 50%;
  width: 75px;
  height: 35px;
  padding: 15px;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 7px;
}

.fashion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0;
}

.fashion__image-container {
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  position: relative;
}

.fashion__img {
  position: absolute;
  top: -10px;
  -webkit-box-shadow: 4rem 4rem #FE6F19;
          box-shadow: 4rem 4rem #FE6F19;
}

.fashion__text-container {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fashion .paragraph {
  padding: 15px 0 30px;
}

.album {
  background-color: #FAE5FF;
}

.album .gallery {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.album .gallery__image-container:not(:last-of-type) {
  margin-right: 4rem;
}

.blog {
  background-color: #FAE5FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.aside {
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  margin-right: 6.5rem;
  position: relative;
}

.aside__image-container {
  width: 100%;
  position: relative;
  left: 0;
  z-index: 10;
}

.aside__image-container::before {
  content: '';
  display: block;
  border-right: 2rem solid #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  right: -2rem;
  margin-top: 2rem;
}

.aside__text-container {
  background-color: #FFF;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  left: 2rem;
  margin-left: 1rem;
  padding-top: 50px;
  z-index: 1;
}

.aside__text {
  margin: 20px;
}

.aside .paragraph {
  padding: 10px 0 20px;
}

.aside__list {
  padding: 15px 0;
}

.aside__item {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  list-style: disc inside;
  padding: 5px 0 5px 5px;
}

.article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  background-color: #FFF;
}

.article__image-box {
  width: calc(100% - 4rem);
  -webkit-box-shadow: -4rem 4rem #FE6F19;
          box-shadow: -4rem 4rem #FE6F19;
  position: relative;
  top: -210px;
  left: 4rem;
}

.article__content {
  margin-top: -90px;
  padding: 0 15% 0 10%;
}

.article .paragraph {
  margin: 4rem 0;
}

.date-paragraph {
  font-weight: bold;
  margin-bottom: 2rem;
}

.comments {
  background-color: #FAE5FF;
}

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comments__sub-container {
  width: 58%;
}

.comments__title {
  margin: 4rem 0 4rem 2rem;
}

.comments__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
}

.comments__image {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  margin: 1rem 3rem 0 0;
}

.comments__text {
  padding: 0 16% 0 0;
}

.contact-main {
  background-color: #FAE5FF;
  height: 550px;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact__information {
  background-color: #FAE5FF;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.contact__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20rem;
}

.contact__social-icon {
  margin-right: 3rem;
}

.contact__icon {
  font-size: 2.8rem;
  color: #4C0341;
}

address {
  font-style: normal;
}

.email a {
  font-size: 3rem;
  color: #4C0341;
}

.email {
  margin: 3rem 0 2rem;
}

.email__link {
  font-family: "Pompiere", cursive;
  letter-spacing: 2px;
}

.address {
  margin-top: 2rem;
}

.address__detail {
  font-size: 1.8rem;
}

.submission {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.submission__form {
  background-color: #FFF;
  -webkit-box-shadow: -4rem 4rem #FE6F19;
          box-shadow: -4rem 4rem #FE6F19;
  width: 80%;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: -50px;
  z-index: 1;
}

.submission__form ::-webkit-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.submission__form :-ms-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.submission__form ::-ms-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.submission__form ::placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.submission__form-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.submission input[type=text],
.submission input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  font-size: 1.8rem;
  border: none;
  border-bottom: 2.5px solid #FE6F19;
  margin-bottom: 5rem;
  padding: 25px 0 15px 30px;
}

.submission input[type=text] {
  margin-right: 1.5rem;
}

.submission input[type=email] {
  margin-left: 1.5rem;
}

.submission__form-bottom {
  border: 2.5px solid #FE6F19;
}

.submission__input-message {
  width: 100%;
  font-size: 2rem;
  border: none;
  height: 200px;
  resize: none;
  padding: 30px 0 0 30px;
}

.submission__button {
  font-weight: bold;
  margin-top: 5rem;
  height: 6rem;
  background-color: #882C07;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submission button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.comment-form {
  background-color: #FAE5FF;
}

.comment-form .submission {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment-form .submission__form-comment {
  width: 60%;
  margin-bottom: 10rem;
}

.comment-form .submission__form-comment ::-webkit-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.comment-form .submission__form-comment :-ms-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.comment-form .submission__form-comment ::-ms-input-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.comment-form .submission__form-comment ::placeholder {
  color: #0D0D0D;
  opacity: 1;
}

.comment-form .submission__input, .comment-form .submission__input-message {
  background-color: #FAE5FF;
}

.comment-form .submission__button, .comment-form .submission__submit {
  background-color: #4C0341;
}

.footer__copyright {
  background-color: #882C07;
}

.footer__text {
  text-align: center;
  color: #FFF;
}

.footer__copyright-link {
  font-weight: 300;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__copyright-link:hover {
  color: #FE6F19;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

A.footer__copyright-link {
  text-transform: capitalize;
}
